*{
	box-sizing: border-box;
	padding: 0;
	margin: 0;
}

.container{
	display:  flex;
	width: auto;
	margin: 0 auto;
}

@media (min-width: 575.98px){
  .container {
    width: 540px;
    padding: 0;
  }
}

@media (min-width: 767.98px){
  .container {
    width: 720px;	
  }
}

@media (min-width: 991.98px) {
  .container {
    width: 960px;
  }
}

@media (min-width: 1199.98px){
  .container {
    width: 1140px;
  }
}

.lobby-list{
  padding: 15px;
  display: flex;
  flex-direction: column;
  width: 100%;
}
.lobby-list-item{
  border-bottom: 1px solid black;
  transition: 1s all;
  cursor: pointer;
  padding-top: 5px;
}
.lobby-list-item:hover{
  padding-left: 10px;
  background: orange;
}
.lobbies-list-refresh-btn{
  height: 40px;
  width: 43px;
  border-radius: 50%;
  background: green;
  transition: .3s all;
}
.lobbies-list-refresh-btn:active{
  transform: scale(1.2);
}

.lds-ellipsis {
  display: inline-block;
  position: relative;
  width: 80px;
  height: 80px;
}
.lds-ellipsis div {
  position: absolute;
  top: 33px;
  width: 13px;
  height: 13px;
  border-radius: 50%;
  background: #fff;
  animation-timing-function: cubic-bezier(0, 1, 1, 0);
}
.lds-ellipsis div:nth-child(1) {
  left: 8px;
  animation: lds-ellipsis1 0.6s infinite;
}
.lds-ellipsis div:nth-child(2) {
  left: 8px;
  animation: lds-ellipsis2 0.6s infinite;
}
.lds-ellipsis div:nth-child(3) {
  left: 32px;
  animation: lds-ellipsis2 0.6s infinite;
}
.lds-ellipsis div:nth-child(4) {
  left: 56px;
  animation: lds-ellipsis3 0.6s infinite;
}
@keyframes lds-ellipsis1 {
  0% {
    transform: scale(0);
  }
  100% {
    transform: scale(1);
  }
}
@keyframes lds-ellipsis3 {
  0% {
    transform: scale(1);
  }
  100% {
    transform: scale(0);
  }
}
@keyframes lds-ellipsis2 {
  0% {
    transform: translate(0, 0);
  }
  100% {
    transform: translate(24px, 0);
  }
}

.dnone{
  display: none;
}

.main-loader.unactive{
  opacity: 0;
  left: -100%;
}
.main-loader.active{
  opacity: 1;
}
.main-loader{
  display: flex;
  justify-content: center;
  align-items: center;
  position: fixed;
  left: 0px;
  transition: 0.6s all;
  background: black;
  width: 100vw;
  height: 100vh;
}
.lobby-list-item{
  display: flex;
  justify-content: space-between; 
}
.popup-bg{
  background: rgba(0,0,0,.5);
  display: flex;
  position: absolute;
  left: 0;
  right: 0;
  top: 0;
  bottom: 0;

}
.popup-container{
  margin: auto;
  width: 40%;
  height: 250px;
  background: #77ff22;
}